DATABASE_URL=./photos.db

GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

TOKEN_SECRET=xxx

PORT=7878
PUBLIC_API_URL=http://localhost:7878
# Optional, If set. API will redirect to that URL after user creation.
REDIRECT_CLIENT_URL=http://localhost:3000/