.add-photo {
  @apply relative;
}

.add-photo_button {
  @apply p-4 w-full border-2 border-gray-300 border-dashed text-2xl;
  height: 24rem;
}

.add-photo__input {
  @apply hidden;
}

.add-photo__confirm-wrapper {
  @apply flex;
}

.add-photo__preview {
  @apply relative w-full bg-cover;
  height: 24rem;
}

.add-photo__confirm-info {
  @apply w-full absolute bottom-0 left-0 mb-4;
}

.add-photo__btns-wrapper {
  @apply grid grid-cols-4;
}

.add-photo__confirm-btn {
  @apply px-2 py-1 w-24 bg-gray-300 border-gray-500 text-gray-900 rounded-sm cursor-pointer;
}

.add-photo__confirm-btn:disabled {
  @apply cursor-not-allowed;
}

.add-photo__confirm-btn--accept {
  @apply col-start-3;
}

.rotate-infinite {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.loading {
  @apply absolute z-10;
  transform: translate3d(12rem, 10rem, 0);
}

.add-photo__rebuild-title {
  @apply text-4xl;
}

.add-photo__rebuild-text {
  @apply text-xl;
}

.add-photo__rebuild-button {
  @apply bg-white text-black p-2 mt-10 rounded;
}
