.add-photo_button {
  @apply h-40 w-40 p-4 border-2 border-gray-300 border-dashed text-2xl;
}

.add-photo__input {
  @apply hidden;
}

.add-photo__confirm-wrapper {
  @apply flex;
}

.add-photo__preview {
  @apply h-40 w-40 bg-cover;
}

.add-photo__confirm-info {
  @apply ml-4;
}

.add-photo__confirm-title {
  @apply text-xl;
}

.add-photo__confirm-btn {
  @apply px-2 py-1 mr-2 mt-4 w-24 bg-gray-300 border-gray-500 text-gray-900 rounded-sm cursor-pointer;
}

.add-photo__confirm-btn:disabled {
  @apply cursor-not-allowed;
}

.input__wrapper {
  @apply mt-2 grid grid-cols-4 gap-2;
}

.input {
  @apply text-black col-span-3;
}

.rotate-infinite {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.loading {
  @apply absolute;
}
